<div ng-controller='projectDetailsController'>
	<div class="form-group row">
		<!-- <div data-spy="scroll" data-target=".navbar" data-offset="50"> -->



		<div class="container ">
			<!-- col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-50 col-md-20 col-lg-offset-78 col-lg-45 -->
			<br />
			<div class="panel panel-default">
				<div class="panel-heading">

					<center>
						<h2>
							Welcome</br>
						</h2>
					</center>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<h2>Dash Board</h2>

						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home"
								target="_self">Client Details</a></li>
							<li><a data-toggle="tab" href="#menu1" target="_self">Add
									Project</a></li>
							<li><a data-toggle="tab" href="#menu2" target="_self">Project
									Details</a></li>

						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<div ng-repeat="n in clientDetails">
									<h4>Client ID: {{n.Client_id}}</h4>

									<br />

									<h4>Client Name: {{n.Client_name}}</h4>

									<br />
									<h4>UserName: {{n.Username}}</h4>

									<br />
									<h4>Password: {{n.Password}}</h4>
									<br />
									<h4>Email Id: {{n.Email}}</h4>
								</div>
							</div>
							<div id="menu1" class="tab-pane fade">

								<form method="post" name="myAddProjectForm"
									ng-submit="submitAddProjectForm(fields)">

									<div class="form-group">
										<ul class="nav nav-pills">

											<li class="active"><a data-toggle="pill" href="#Home"
												target="_self">Home</a></li>
											<li><a data-toggle="pill" href="#Team" target="_self">Team</a></li>
											<li><a data-toggle="pill" href="#DevTeamSize"
												target="_self">Dev Team Size</a></li>
											<li><a data-toggle="pill" href="#QATeamSize"
												target="_self">QA Team Size</a></li>
											<li><a data-toggle="pill" href="#TechStack"
												target="_self">Tech Stack</a></li>
											<li><a data-toggle="pill" href="#EnvironmentsPlatform"
												target="_self">Environments Platform</a></li>
											<li><a data-toggle="pill" href="#Hardware"
												target="_self">Hardware</a></li>
											<li><a data-toggle="pill" href="#Tools" target="_self">Tools</a></li>

										</ul>

										<div class="tab-content">

											<div id="Home" class="tab-pane fade in active">
												<br>
												<H3>*Please Fill all The
													Fields{{fields.applicationName}}{{fields.businessVertical}}{{fields.releaseFrequency}}</H3>
												<br>
												<h4>
													<strong>Application Name: </strong> <input type="text"
														ng-model="fields.applicationName"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Business Vertical: </strong> <input type="text"
														ng-model="fields.businessVertical"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Release Frequency (GO LIVE): </strong> <input
														type="text" ng-model="fields.releaseFrequency"
														style="color: black; text-align: center; display: inline-block"
														required=""></input>
												</h4>
											</div>


											<div id="Team" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>Application Owner: </strong> <input type="text"
														ng-model="fields.applicationOwner"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Team Lead: </strong> <input type="text"
														ng-model="fields.teamLead"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Tech Lead: </strong> <input type="text"
														ng-model="fields.techLead"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>QA Lead: </strong> <input type="text"
														ng-model="fields.qaLead"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Build and Release Lead: </strong> <input
														type="text" ng-model="fields.buildAndReleaseLoad"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Infra Lead: </strong> <input type="text"
														ng-model="fields.infraLead"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
											</div>


											<div id="DevTeamSize" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>India: </strong> <input type="text"
														ng-model="fields.devindia"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>UK: </strong> <input type="text"
														ng-model="fields.devuk"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Others: </strong> <input type="text"
														ng-model="fields.devothers"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>

											</div>
											<div id="QATeamSize" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>India: </strong> <input type="text"
														ng-model="fields.qaindia"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>UK: </strong> <input type="text"
														ng-model="fields.qauk"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Others: </strong> <input type="text"
														ng-model="fields.qaothers"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>

											</div>
											<div id="TechStack" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>Presentation Tier: </strong> <input type="text"
														ng-model="fields.presentationTier"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Middle Tier: </strong> <input type="text"
														ng-model="fields.MiddleTier"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Data Tier: </strong> <input type="text"
														ng-model="fields.dataTier"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>Integration Tier: </strong> <input type="text"
														ng-model="fields.integrationTier"
														style="color: black; text-align: center;" required=""></input>
												</h4>

											</div>
											<div id="EnvironmentsPlatform" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>Development: </strong> <input type="text"
														ng-model="fields.EPdevelopment"
														style="color: black; text-align: center;"  required=""></input>
												</h4>
												<h4>
													<strong>QA: </strong> <input type="text"
														ng-model="fields.EPqa"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>NFR testing (if any): </strong> <input type="text"
														ng-model="fields.EPnfrTesting"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>UAT: </strong> <input type="text"
														ng-model="fields.EPuat"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Production: </strong> <input type="text"
														ng-model="fields.EPproduction"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>DR: </strong> <input type="text"
														ng-model="fields.EPdr"
														style="color: black; text-align: center;" required=""></input>

												</h4>

											</div>
											<div id="Hardware" class="tab-pane fade">
												<br>
												<H3>*Please Fill all The Fields</H3>
												<br>
												<h4>
													<strong>Development: </strong> <input type="text"
														ng-model="fields.Hdevelopment"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>QA: </strong> <input type="text"
														ng-model="fields.Hqa"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>NFR testing (if any): </strong> <input type="text"
														ng-model="fields.HnfrTesting"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>UAT: </strong> <input type="text"
														ng-model="fields.Huat"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Production: </strong> <input type="text"
														ng-model="fields.Hproduction"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>DR: </strong> <input type="text"
														ng-model="fields.Hdr"
														style="color: black; text-align: center;" required=""></input>
												</h4>


											</div>
											<div id="Tools" class="tab-pane fade">

												<br>

												<h4>
													<strong>IDE: </strong> <input type="text"
														ng-model="fields.ide"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Build: </strong> <input type="text"
														ng-model="fields.build"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Code Repository: </strong> <input type="text"
														ng-model="fields.codeRepository"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>Continuous Integration: </strong> <input
														type="text" ng-model="fields.continuousIntegration"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Code Quality Management: </strong> <input
														ng-model="fields.codeQualityManagement" type="text"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Unit Testing: </strong> <input type="text"
														ng-model="fields.unitTesting"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<br>

												<h4>
													<strong>Integration Testing: </strong> <input type="text"
														ng-model="fields.integartionTesting"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Automated Testing: </strong> <input type="text"
														ng-model="fields.automatedTesting"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Performance Testing: </strong> <input type="text"
														ng-model="fields.performanceTesting"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>Security Testing: </strong> <input type="text"
														ng-model="fields.securityTesting"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Other NFR Testing: </strong> <input type="text"
														ng-model="fields.otherNfrTesting"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Deployment: </strong> <input type="text"
														ng-model="fields.deployment"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<br>

												<h4>
													<strong>Environment Provisioning: </strong> <input
														ng-model="fields.environmentProvisioning" type="text"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Artificat repository: </strong> <input type="text"
														ng-model="fields.artificatRepository"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Logger: </strong> <input type="text"
														ng-model="fields.logger"
														style="color: black; text-align: center; display: inline-block" required=""></input>
												</h4>
												<h4>
													<strong>Log Monitoring: </strong> <input type="text"
														ng-model="fields.logMonitoring"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Infrastructure Monitoring: </strong> <input
														ng-model="fields.infrastructureMonitoring" type="text"
														style="color: black; text-align: center;" required=""></input>
												</h4>
												<h4>
													<strong>Application Monitoring: </strong> <input
														type="text" ng-model="fields.applicationMonitoring"
														style="color: black; text-align: center;" required=""></input>
												</h4>

												<button type="submit" class="btn btn-block btn-info"
													style="width: 100%" ng-disabled="myAddProjectForm.$invalid">
													Add Project<i class="glyphicon glyphicon-log-in"></i>
												</button>

											</div>
										</div>




									</div>

								</form>

							</div>

							<div id="menu2" class="tab-pane fade">
								<div class="panel-body">

									<h3>Please Select the Project:</h3>
									<form method="post" name="startTestForm">
										<div class="styled-selected" id="dropdown">
											<select ng-model="selectedName.name"
												ng-options="x.name  for x in projectNames"
												ng-click="projectDetailsFunction(selectedName.name)"
												required="" style="color: black;">
												<option value="" ng-disabled="true">- Select
													Project -</option>
											</select>
										</div>
										<br />

										<h4>Project Name: {{selectedProjectDetails.name}}</h4>
										<br />

										<h4>Buisness verticals:
											{{selectedProjectDetails.buisnessVertical}}</h4>

										<br />
										<h4>Dev Team Size: {{selectedProjectDetails.devTeamSize}}</h4>
										<br />
										<h4>QA Team Size: {{selectedProjectDetails.qaTeamSize}}</h4>
										<button type="submit" class="btn btn-block btn-info"
											style="width: 100%" ng-disabled="selectedName.name.testId>0 || selectedName.name===undefined"
											ng-click="startTestProjectId(selectedProjectDetails.projectId)">
											Start Test<i class="glyphicon glyphicon-log-in"></i>
										</button>
										<button type="submit" class="btn btn-block btn-info"
											style="width: 100%" ng-disabled="selectedName.name.testId===0 ||selectedName.name===undefined"
											ng-click="modifyTestProjectId(selectedProjectDetails.projectId)">
											Modify<i class="glyphicon glyphicon-log-in"></i>
										</button>
										<!--  <div class="col-xs-6 col-xs-offset-3">
                                                                                                       <a ui-sref="form.profile" class="btn btn-block btn-info">
                                                                                                              Start Test <span
                                                                                                              class="glyphicon glyphicon-circle-arrow-right"></span>
                                                                                                       </a>
                                                                                                </div> -->
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>