<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div id="form-container" ng-controller='formController'>
			<div id="sticky-anchor"></div>
			<div id="sticky">
				<div class="page-header text-center">
					<div ng-controller='saveController'>
						</a> <a class="btn btn-info btn-sm" ng-click="processForm()"
							style="float: right;"> <span
							class="glyphicon glyphicon-floppy-disk"></span> Save
						</a>

					</div>
					<h2>DevOps Assessment</h2>
					<div class="liner"></div>
					<div id="rootAreaList" class="wizard-item" ng-repeat="name1 in arr">
						<!-- the links to our nested states using relative paths -->
						<!-- add the active class if the state matches our ui-sref -->
						<div id="status-buttons" class="status-buttons text-center">
							<a ui-sref-active="active" ui-sref="{{name1.url}}"><span
								class="round-tabs">{{$index+1}}</span></a>
						</div>
						<span class="wizard-text">{{name1.name}}</span>
					</div>
				</div>

			</div>
			<!-- use ng-submit to catch the form submission and use our Angular function -->
			<form id="signup-form" ng-submit="processForm()">
				<!-- our nested state views will be injected here -->
				<div id="form-views" ui-view></div>
			</form>

		</div>
		<!-- show our formData as it is being typed -->
	</div>
</div>